*:root
{
    --clr-main: black;
    --clr-anchor: #1ba9dc;
}


body
{
    font-size: large;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    word-spacing: 4px;
    line-height: 30px;
    background-image: linear-gradient(180deg, #BCCEF8 15%, #CDFCF6 80%, #C8FFD4);
}

section
{
    /* margin: 130px 0; */
}

.mumbai-title
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    /* linear-gradient(#FDFDBD, #BFD8B8, #B8E8FC); */
}

h3
{
    text-align: center;
}
h3:hover
{
    font-style: italic;
}

.section-description
{
    margin: 80px 160px;
}

ul
{
    margin: 10px;
}

ul li::marker
{
    content: '✨';
}

ul li:hover::marker
{
    content: '💫';
}

.see-mumbai
{
    box-shadow: inset 0 0 0 0 var(--clr-anchor);
    color: var(--clr-anchor);
    margin: 0 -.25rem;
    padding: 0 .35rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.see-mumbai:hover
{
    color: var(--clr-main);
    box-shadow: inset 200px 0 0 0 var(--clr-anchor);
}

.alpha:hover
{
    font-weight: 800;
}

.section-gallery
{
    margin: 180px 135px;
}

.images
{
    border-radius: 15px;
    height: 330px;
    width: 350px;

    /* hover effect */
    --c: #FDFDBD; /* the border color */
    --b: 10px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
        var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
        conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
        0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}

.images:hover
{
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}